RewriteEngine On

# https redirect
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://jrsjessica.in/$1 [R=301,L]

# Map root to /DASHBOARD
RewriteRule ^$ /DASHBOARD/ [L]

# Map root/x to /DASHBOARD/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/DASHBOARD/
RewriteRule ^(.*)$ /DASHBOARD/$1

# Add trailing slash to directories within DASHBOARD
# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^DASHBOARD/(.*[^/])$ https://jrsjessica.in/$1/ [R=301]
